.header {
  padding-top: 20px;
  padding-bottom: 20px;
  background: var(--header);
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  position: sticky;
  top: 0;
  background-color: var(--background);
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navList {
  display: flex;
  gap: 10px;
}